$qiita-slide-mode-break-point-minimum: 320px !default;
$qiita-slide-mode-break-point-xs: 480px !default;
$qiita-slide-mode-break-point-s: 770px !default;
$qiita-slide-mode-break-point-m: 992px !default;
$qiita-slide-mode-break-point-l: 1200px !default;
$qiita-slide-mode-fullscreen-z-index: 1000 !default;
