.unselectable {
  user-select: none;
}

.slideViewer {
  cursor: pointer;
  background: #ccc;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background: gray; /* example */
}
