.styles_unselectable__1wBU3 {
  user-select: none;
}

.styles_slideViewer__uYxHR {
  cursor: pointer;
  background: #eee;
}

.styles_dashboard__1ZJRM {
  display: flex;
  flex-direction: row;
}

.styles_progress__1qdnE {
  cursor: pointer;
  display: flex;
  background: gray;
  width: 100%;
}

.styles_progressFill__1GQ4M {
  background: black;
}

.styles_fullscreen__3AJXJ {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background: #eee; /* example */
}

.styles_tooltip__1bZ5g {
  background: #fff;
  border: 2px solid black;
  position: fixed;
  margin-top: -45px;
  padding: 10px;
}
